<h1 style="margin-bottom: 0;">Översikt <small style="font-size: 65%; color: #777;">Kranskärlssjukdom</small></h1>
<p class="qreg-head" style="line-height: 1.3; font-size: 16px;">
   Andel patienter med kranskärlssjukdom som uppnår olika målvärden. De senaste värdena för varje patient ingår. Uppdatering sker en gång i månaden. För de flesta indikatorer hämtas värden 450 dagar tillbaka i tiden.
Resultat baserat på senaste mätvärden vid datauttag februari 2017.
    <span id="data-collection-date" style="font-style: italic;">-</span>.
</p>
<div id="main-container"></div>
<p style="font-size: 12px;font-style: italic;color: #555;">
    *) Punktdiagrammet visar vårdcentralens ranking bland samtliga vårdcentraler, för det senaste rapporterade värdet.
</p>
<p style="font-size: 12px;font-style: italic;color: #555;">
    För mer information se <a href="#!page?id=2030">frågor och svar</a>
</p>
<script type="text/javascript">
    // Widget specific settings
    window.__qregPVSettings = {
        "colors": ["#CDC9BC", "#614D7D"],
        "indicatorType": ["2006", "2001", "2002", "2005", "2004", "2008", "2009", "2007", "2003", "2010"],
        "hypertoni": false,
        viewIds: ['2001', '2004', '2003', '2005', '2006']
    };
</script>